.team-heading {
    background-image: radial-gradient( circle, rgb(99, 56, 96) 5%, rgb(229, 231, 241) 95%);
    color: #ffffff;
    text-shadow: 2px 2px black;
}

.team-area {
    max-width: 1000px;
    margin: 3rem auto;
    flex-wrap: wrap;
    row-gap: 10px;
}

.card-header{
    text-shadow: 2px 2px black;
}

.employee-card {
    margin: 1rem;
    max-width: 280px;
    width: 90%;
    min-height: 22rem;
    background-color: #7d4189;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.7);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6F7F8;
}

.list-group-item {
    color: #000000;
    text-decoration: none;
}
